<mat-toolbar color="primary" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Am I Alive</mat-card-title>
      <mat-card-subtitle>tester</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form >
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Send a Message</mat-label>
          <input matInput type="text" name="message" [(ngModel)]="value">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <div class="response">
        <p *ngIf="healthStatus">
          Health: {{ healthStatus }}
        </p>
        <p *ngIf="response">
          Response: {{ response }}
        </p>
        <p *ngIf="errorMessage">
          Error: {{ errorMessage }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="checkHealth()">Check Health</button>
      <button mat-raised-button (click)="sendMessage()">Send Message</button>
    </mat-card-actions>
  </mat-card>
</div>
