.example-spacer {
  flex: 1 1 auto;
}


.example-card {
  margin: 32px 0;
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
